$font-family-sans-serif: 'Poppins', sans-serif;
$primary: #b60ccc;
$gradient: linear-gradient(to bottom, #ad5389, #3c1053);
$background: linear-gradient(to top, #2c3e50, #3498db);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// outline: 1px solid red;
}
section {
	padding-top: 50px;
	height: max-content;
}
a {
	span {
		color: white;
	}
}

.inicio {
	background: linear-gradient(to top, #16222a, #3a6073);
}
.acerca {
	background: linear-gradient(to top, #3a6073, #16222a);
}
.logo {
	position: absolute;
	background-image: url(/img/SVG/logo.svg);
	background-repeat: no-repeat;
	background-size: 55%;
	top: -15px;
	margin-bottom: 0.1em;
	width: 180px;
	height: 90px;
}
.logoSvg {
	background-image: url(/img/SVG/logo.svg);
	width: 450px;
	height: 350px;
}
.imgSvg {
	width: 400px;
	height: 750px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.mujerSvg {
	background-image: url(/img/SVG/mujer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 4em 0;
}

.active {
	background: linear-gradient(to top, #aaa, #fff);
	height: max-content;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	span {
		color: black;
		font-weight: 500;
	}
}

.titulo {
	font-weight: bold;
	font-size: 5em;
	background: linear-gradient(to top, transparent, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.profecion {
	width: 550px;
}

.acercaImg {
	background-image: url(/img/SVG/acerca.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.imgPubli {
	height: 620px;
	background-image: url(/img/SVG/publicidadCurso.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.cards {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.btn-curso {
	position: relative;
	top: -50px;
}
.ancho {
	width: 250px;
}
.bg-form {
	padding: 1rem;
	background-color: #b60ccc64;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.contacto {
	height: 620px;
	background-image: url(/img/SVG/contacto.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	transform: scaleX(-1);
}
@media screen and (max-width: 776px) {
	.logo {
		position: absolute;
		right: 0;
	}
	#inicio {
		.logoSvg {
			width: auto;
			background-repeat: no-repeat;
		}
		.reverse {
			flex-direction: column-reverse;
		}
		.profecion {
			width: 350px;
		}
	}
	.titulo {
		font-size: 3.2em;
	}
	.imgSvg {
		height: 400px;
		overflow: hidden;
		background-size: cover;
	}
	.mujerSvg {
		margin: 1em 0;
	}
	#curso {
		align-items: center;
		height: 200px;
	}
	.contacto {
		height: 420px;
		overflow: hidden;
		background-size: cover;
	}
}
@import '../node_modules/bootstrap/scss/bootstrap.scss';
