$font-family-sans-serif: 'Poppins', sans-serif;
$primary: #b60ccc;
$secundary: #11c9de;
$gradient: linear-gradient(to bottom, #ad5389, #3c1053);
$background: linear-gradient(to top, #2c3e50, #3498db);
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 992px,
	xxl: 992px,
);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: 1px solid red;
}
section {
	padding-top: 50px;
	height: 100vh;
}
.inicio {
	background: linear-gradient(to top, #16222a, #3a6073);
}
.acerca {
	background: linear-gradient(to top, #3a6073, #16222a);
}
.logo {
	position: absolute;
	background-image: url(/imaganesSVG/logo.svg);
	background-repeat: no-repeat;
	background-size: 55%;
	top: -15px;
	margin-bottom: 0.1em;
	width: 180px;
	height: 90px;
}
.logoSvg {
	background-image: url(/imaganesSVG/logo.svg);
	width: 450px;
	height: 350px;
}
.imgSvg {
	width: 400px;
	height: 750px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}
.mujerSvg {
	background-image: url(/imaganesSVG/mujer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	margin: 4em 0;
}

.active {
	background: linear-gradient(to top, #16222a, #3a6073);
	width: max-content;
	height: max-content;
	color: black;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.titulo {
	font-weight: bold;
	font-size: 5em;
	background: linear-gradient(to top, transparent, #fff);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.acercaImg {
	background-image: url(/imaganesSVG/acerca.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

@media screen and (max-width: 776px) {
	#inicio {
		.logoSvg {
			width: auto;
			background-repeat: no-repeat;
		}
		.reverse {
			flex-direction: column-reverse;
		}
	}
	.titulo {
		font-size: 3.2em;
	}
	.imgSvg {
		height: 400px;
		overflow: hidden;
		background-size: cover;
	}
}
@import '../node_modules/bootstrap/scss/bootstrap';
