$font-family-sans-serif: 'Poppins', sans-serif;
$primary: #b60ccc;
$secundary: #11c9de;
$bs-gradient: linear-gradient(to bottom, #ad5389, #3c1053);
// $font-family-monospace: ;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.logo {
	background-image: url(/imaganesSVG/logo.svg);
	background-repeat: no-repeat;
	width: 160px;
	height: 110px;
}
.logoSvg {
	background-image: url(/imaganesSVG/logo.svg);
	width: 450px;
	height: 350px;
}
.mujerSvg {
	background-image: url(/imaganesSVG/mujer.svg);
	background-repeat: no-repeat;
	width: 400px;
	height: 750px;
	margin-top: 150px;
}
.acercaImg {
	background-image: url(/imaganesSVG/acerca.svg);
	background-repeat: no-repeat;
	width: 160px;
	height: 200px;
}

@import '../node_modules/bootstrap/scss/bootstrap';
