@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';
:root {
	--titulo: 'Poppins', sans-serif;
	--parrafo: 'Roboto Slab', serif;
	--colorPrimario: #b60ccc;
	--colorSecundario: #11c9de;
	--textoPrimario: #000;
	--textoSecundario: #fff;
	scroll-behavior: smooth;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}
/*-------Logo-------*/

.logo {
	position: relative;
	float: left;
	background-image: url(/imaganesSVG/logo.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	top: -15px;
	left: 80px;
	width: 160px;
	height: 110px;
}
/*-------Navegación-------*/

.nav-bg-body-purple {
	background-color: var(--colorPrimario);
	backdrop-filter: blur(2px);
} /*
.nav__lista {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-end;
	list-style: none;
	padding-right: 100px;
}
.nav__lista__item {
	text-transform: uppercase;
	padding-right: 20px;
	text-decoration: none;
}
.nav__lista__link {
	display: flex;
	justify-items: center;
	align-items: center;
	text-decoration: none;
}
.nav__lista__link:after {
	content: '';
	position: absolute;
	background-color: var(--textoSecundario);
	height: 3px;
	width: 0;
	left: 0;
	bottom: -5px;
	-webkit-transition: 0.5s linear;
	-moz-transition: 0.5s linear;
	-ms-transition: 0.5s linear;
	-o-transition: 0.5s linear;
	transition: 0.5s linear;
}

.nav__lista__link:hover {
	color: var(--textoPrimario);
}
.nav__lista__item .tituloMenu {
	font-family: var(--titulo);
	font-weight: 800;
	font-style: bold;
	letter-spacing: 0.02em;
	color: var(--textoSecundario);
}
.nav__lista__item .iconMenu {
	color: var(--textoSecundario);
	font-size: 2em;
	top: 5px;
	letter-spacing: 0.02em;
}
.active .tituloMenu {
	color: #000;
}
.active .iconMenu {
	color: #000;
} */

.mujerSvg {
	position: relative;
	background-image: url(/imaganesSVG/mujer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	left: 80px;
	width: 200px;
	height: 400px;
}

.logoSvg {
	position: relative;
	background-image: url(/imaganesSVG/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	filter: invert(1);
	left: 80px;
	width: 200px;
	height: 400px;
	-webkit-filter: invert(1);
}
section {
	padding: 80px;
	height: 100vh;
}

/* @import 'bootstrap/scss/utilities/api'; */
